@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	--swiper-pagination-bullet-inactive-color: white;
	--swiper-pagination-bullet-inactive-opacity: .7;
	--swiper-pagination-bullet-size: 12px;
	--swiper-pagination-bullet-horizontal-gap: 6px;
	--swiper-navigation-color: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	/* scrollbar-gutter: stable; */
}
